@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <p>This application is a simple ASP.NET MVC project connected to a MySQL database. It allows you to manage student records by adding, editing, viewing, and deleting data through a user-friendly interface. It is learning project.</p>
</main>