@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Tuwaiq Acadmy<br />
        Riyadh,Saudi Arabia<br />
        <abbr title="Phone">P:</abbr>
        05522222222
    </address>
</main>