@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1>Welcome to student records Management </h1>

    <div style="margin-top: 90px;" class="text-center">
        <a href="@Url.Action("Index", "Students")" class="btn btn-primary btn-lg">
            Go to Students Page
        </a>
    </div>
</div>
